img {
    width: 1000px;
    height: 700px;
}

#tutorial {
    margin-top: 750px;
}

li {
    margin-top: 100px;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    margin-top: 10px;
}